.last_section{
    display: flex;
    height: 74px;
    padding: 0px 195px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: #FAFAFA;
}
.text_and_img_for_last_section{
    display: flex;
    align-items: center;
    gap: 213px;
}
.text_for_last_section{
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: flex-start;
}
.img_for_lastsection{
    display: flex;
    width: 236px;
    align-items: center;  
    justify-content: center;
    align-items: center;
    gap: 20px;  
}
.text_last_section{
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
}