@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "../settings/mixcin";
@import "../settings/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 1322px;
}

@import "header";
@import "section";
@import "cards";
@import "sectionwithgirl";
@import "videosection";
@import "popularcourses";
@import "send";
@import "comment";
@import "faq";
@import "footer";
@import "lss";