$secondary: #F3CD03FF;
$light-text-color: #FFFFFFFF;
$faded-primary-color: #F6F7FBFF;
$secondary-color-1: #FF7B52FF;
$dark-background-color: #26335DFF;
$primary-text-color: #8D5CF6FF;
$second-text-color: #737373FF;
$primary-color: #8D5CF6FF;
$muted-color: #BDBDBDFF;
$danger-color: #E74040FF;
$light-background-color: #FFFFFFFF;
$text-color: #252B42FF;
$light-text-gray-1: #FAFAFAFF;
$disabled-element-color: #8EC2F2FF;
$alert-color: #E77C40FF;
$faded-secondary-color-2: #FFF2F3FF;
$faded-secondary-color-1: #DDF4FFFF;
$success-color: #2DC071FF;
$secondary-color-2: #EA4C89FF;
$hover-color: #2A7CC7FF;
$light-gray-1: #FAFAFAFF;
$light-gray-2: #ECECECFF;
$secondary-text-color-1: #FF7B52FF;
$secondary-text-color-2: #EA4C89FF;
$success-text-color: #2DC071FF;
$alert-text-color: #E77C40FF;
$danger-text-color: #E74040FF;
$hover-text-color: #2A7CC7FF;
$disabled-element-text-color: #8EC2F2FF;
$muted-text-color: #BDBDBDFF;
$light-text-gray-2: #ECECECFF;